@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-button/src/Button.scss";
@import "../node_modules/bee-loading/src/Loading.scss";

.u-loading-state{
    position: relative;
    .u-loading.u-loading-rotate > div{
        position: absolute;
        top: 6px;
        left: 8px;
        width: 20px;
        height: 20px;
        margin: 0;
    }
    .u-loading-desc {
        position: absolute;
        left: 30px;
        top: 5px;
        font-size: 16px;
        color: #000;
        text-align: center;
    }
    &-label{
        margin-left: 20px;
    }
}